<!DOCTYPE html>
<html>
  <head>
    <title>Prueba2Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      #content{ margin-top: 100px }
    </style>
  </head>

  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="<%= root_path %>" class="navbar-brand">Prueba rails</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <small style="color: lightgrey">Completados: <%= get_qty %>/9</small>
        <div><%= link_to 'logout', destroy_user_session_path, method: :delete %></div>
      </div>
    </div>
    <div class="container" id="content">
      <%= yield %>
    </div>
  </body>
</html>
